---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);

// Our variables
$base-font-family: 'Open Sans', 'Muli', 'lucida grande', sans-serif;
$base-font-size:   1.5rem;
$base-font-weight: 400;
$small-font-size:  1rem;
$base-line-height: 1.7;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #F1F1F1;
$brand-color:      rgba(233, 172, 75, 1);

$soft-blue-color: rgba(123, 187, 216, 0.30);
$softer-blue-color: lighten($soft-blue-color, 40%);
$hard-blue-color: rgba(104, 171, 202, 1);
$harder-blue-color: darken($hard-blue-color, 25%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1080px;

$on-palm:          600px;
$on-laptop:        800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
