---
layout: default
---
<div>
	
</div>
<div class="home">
	
  <div>
    {% for post in site.posts %}
    
      <div class="post-list">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <em><small>{{ post.lead }}</small></em>
        <br>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}&nbsp;<!-- |&nbsp;{{ post.categories | join: ', ' }} --></span>
      </div>
    {% endfor %}
  </div>
        
  <h1 class="page-heading">Some of the better stuff</h1>

  <div>
    {% for post in site.categories.top %}
    
      <div class="post-list">
      {% if post.image %}
      	<img src="{{ post.image | prepend: site.baseurl }}" 
      	alt="{{ post.title }}" title="{{ post.title }}">
      {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <em><small>{{ post.lead }}</small></em>
        <br>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}&nbsp;<!-- |&nbsp;{{ post.categories | join: ', ' }} --></span>
      </div>
    {% endfor %}
  </div>
<!--RSS SUBSCRIBE AND HOME LINK -->
  <p class="rss-subscribe" style="float: right; font-size: 12px; margin-top: -19px;">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> or go back to <a href="http://www.jenningshanna.com">JenningsHanna.com</a></p>

</div>
