---
layout: default
---
<div>
	
</div>
<div class="home">
  
  <h1 class="page-heading">all the logs</h1>
<div style="column-count: 2;">
  <ul class="post-list">
    {% for post in site.posts %}
    
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <em><small>{{ post.lead }}</small></em>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}&nbsp;|&nbsp;{{ post.categories | join: ', ' }}</span>
      </li>
      <p>---</p>

    {% endfor %}
  </ul>
</div>
    
  <h1 class="page-heading">Suggested</h1>

  <ul class="post-list">
    {% for post in site.categories.top %}
      <li>
	      {% if post.image %}
	      	<img src="{{ post.image | prepend: site.baseurl }}" 
	      	alt="{{ post.title }}" title="{{ post.title }}">
	      {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <em><small>{{ post.lead }}</small></em>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}&nbsp;|&nbsp;{{ post.categories | join: ', ' }}</span>
      </li>
    {% endfor %}
  </ul>
<!--RSS SUBSCRIBE AND HOME LINK -->
  <p class="rss-subscribe" style="float: right; font-size: 12px; margin-top: -19px;">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> or go back to <a href="http://www.jenningshanna.com">JenningsHanna.com</a></p>

</div>
