	<nav class="site-nav">
      <div class="trigger">
	    <a class="page-link" href="/" {% if page.url == "/" %}style="background-color: #cce0e9;color: white;"{% endif %}>Home</a>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" {% if page.url == my_page.url %}style="background-color: #cce0e9;color: white;"{% endif %} href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>