/**
 * Site header
 */
.site-lead {
    background-color: $soft-blue-color;
    min-height: 80px;
	background-image: url(../images/pencils-top.png);
	background-origin: content-box;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-header {
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    //font-family: georgia;
    letter-spacing: -0.08rem;
    font-size: 3rem;
    line-height: 2;
    font-weight: 300;
    margin-bottom: 0;
    float: left;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        //color: $brand-color;
        color: rgba(143, 192, 222, 1);
		font-size: .9rem;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    background-color: $soft-blue-color;
    padding: $spacing-unit 0;
    background-image: url(../images/pencils-bottom.png);
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
	color: rgba(255, 255, 255, 1);
	text-shadow: 0.08rem 0.07rem #dddcd4;
}

.post-list {
	display: inline-block;
    margin-left: 0;
    list-style: none;
    border-top: 10px solid #ed492f;
    border-radius: 16px;
    border-right: 54px solid #f0ab3b;
    border-left: 13px solid #4bbbfb;
    border-bottom: 46px solid #54b139;
    box-shadow: 19px 18px #cce0e9;
    width: 183.3px;
    vertical-align: text-top;
    padding: 25px;
    margin: 18px;
    
    em {
	    font-size: $small-font-size;
	    line-height: normal !important;
       
    }


    > div {
        margin-bottom: $spacing-unit;
    }
    
}

.post-meta {
    font-size: $small-font-size;
    color: $brand-color;
    font-family: georgia;
    margin-top: -16px;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 5rem;
    letter-spacing: -1px;
    line-height: 1.5;
    text-shadow: 0.12rem 0.07rem rgb(221, 220, 212); 
	font-family: georgia; 

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    
    span.dropcap {
	  	  color: #111;
		  float: left;
		  font-family: Georgia;
		  font-size: 6rem;
		  line-height: 84px;
		  padding-top: 4px;
		  padding-right: 12px;
		  text-shadow: 0.52rem 0.02rem #dddcd4;
	}

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
