/**
 * Site header
 */
.site-lead {
    background-color: $soft-blue-color;
    min-height: 80px;
	background-image: url(../images/pencils-top.png);
	background-origin: content-box;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-header {
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
	font-size: 3.5rem;
    letter-spacing: -1px;
    line-height: 2;
    text-shadow: 0.22rem 0.07rem #dddcd4;
    font-family: georgia;
    //margin: 20px 33% 0px 33%;
    float: left;
    background-image: url(../images/dottedline.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.site-nav {
    float: right;
    line-height: 56px;
	

    .menu-icon {
        display: none;
    }
    
    .active {
	    background-color: #cce0e9;
	    color: white;
    }

    .page-link {
        //color: $brand-color;
        color: rgba(143, 192, 222, 1);
		font-size: .9rem;
        line-height: $base-line-height;
        
        padding: 5px 10px 5px 10px;
        border-radius: 5px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 10px;
        }
        
        &:hover {
	        background-color: #cce0e9;
		    border-radius: 5px;
		    color: white;
		    
		    //-webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
			//transition:         all 300ms cubic-bezier(0.23, 1, 0.32, 1); 
		    //@include transition(all 1600ms ceaser($easeOutQuint));
        }
        
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    background-color: $soft-blue-color;
    padding: $spacing-unit 0;
    background-image: url(../images/pencils-bottom.png);
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 0 0 $spacing-unit 0;
}

.page-heading {
	color: rgba(255, 255, 255, 1);
	text-shadow: 0.08rem 0.07rem #dddcd4;
}

.home div {
	div {background-color: #FFFFFF;}
	div:nth-last-of-type(2n+2){background-color: #16fa00;}
	div:nth-last-of-type(3n+3){background-color: #f900d4;}
	div:nth-last-of-type(4n+4){background-color: #00ccff;}
	div:nth-last-of-type(5n+5){background-color: #903ed3;}
	div:nth-last-of-type(6n+6){background-color: #f4df6c;}
	
/*
    :nth-child(3n+3) {  
		border-right: 13px solid #4bbbfb;
	    border-left: 46px solid #54b139;
	    border-bottom: 54px solid #f0ab3b;
	}
	
	:nth-child(2n+2) {  
		border-right: 13px solid #54b139;
	    border-left: 54px solid #f0ab3b;
	    border-bottom: 46px solid #4bbbfb;
	}
*/
}

.post-list {
	display: inline-block;
    margin-left: 0;
    list-style: none;
    border-radius: 16px;
    box-shadow: 19px 18px #cce0e9;
    max-width: 249px;
    vertical-align: text-top;
    padding: 25px;
    margin: 18px;
/*
    border-top: 10px solid #ed492f;
    border-right: 54px solid #f0ab3b;
    border-left: 13px solid #4bbbfb;
    border-bottom: 46px solid #54b139;
*/
	
	h2 a {font-size: 1.2rem;}
	//h2:nth-last-of-type(3n+3){font-size: 1.2rem;}
    
    em {
	    font-size: $small-font-size;
	    line-height: normal !important;
       
    }


    > div {
        margin-bottom: $spacing-unit;
    }
    
}

.post-meta {
    font-size: $small-font-size;
    //color: $brand-color;
    font-family: georgia;
    font-style: italic;
    margin-top: -30px;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-image {
	padding-bottom: 24px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    letter-spacing: -1px;
    line-height: 1.9;
    text-shadow: 0.12rem 0.07rem rgb(221, 220, 212); 
	font-family: 'Open Sans', 'Muli', 'lucida grande', sans-serif;

/*
    @include media-query($on-laptop) {
        font-size: 36px;
    }
*/
}

.post-content {
    margin-bottom: $spacing-unit;
    
    a {
	    text-decoration: underline;
    }
    
    span.dropcap {
	  	  color: #111;
		  float: left;
		  font-family: Georgia;
		  font-size: 6rem;
		  line-height: 84px;
		  padding-top: 4px;
		  padding-right: 12px;
		  text-shadow: 0.52rem 0.02rem #dddcd4;
	}

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    
    hr {    
	    max-width: 500px;
    	margin: 40px auto;
    }
}

div.post-content > p > img {
  display: block;
  margin: 0 auto;
  max-height: 80%;
  max-width: 100%;
}